.scale{
    height: 50px;
    border: 2px solid #000000;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.scaleInner{
    transition: .5s all;
    height: 100%;
    background-color: #F7A400;
    transform: skew(30deg) translateX(-3px);
}

.scale img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}