.filterBlockElement{
    margin-bottom: 5px;
}

.filterBlockElement:last-child{
    margin-bottom: 10px;
}

.filterBlockElementTitle{
    font-weight: 700;
}

.window{
    display: flex;
}

.windowDisable{
    display: none;
}

.rightBlock{
    margin-left: 19px;
    width: 100%;
}

.title{
    margin-bottom: 30px;
}

.card{
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
}

.window .input{
    border: none;
    height: 25px;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 5px;
}