.link{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.links{
    width: 540px;
    display: flex;
    justify-content: space-between;
    margin-right: 41px;
}

.container{
    display: flex;
    align-items: center;
    position: relative;
}

.header{
    margin-top: 18px;
}

.logo{
    margin-right: 42px;
    width: 150px;
}

.linkBtn {
    display: block;
    margin-left: auto;
}